* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #454545;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: brightness(85%);
    font-size: large;
}

.container {
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
    height: 85vh;
    width: 85vh;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    

    grid-template-areas: 
        "square1 square2 square3"
        "square4 menu square5"
        "square6 square7 square8";
}

.square1 {
    grid-area: square1;
    background-color:   #e3342f;
    border-radius: 50%;
    margin: 0.5em;
}

.square2 {
    grid-area: square2;
    background-color: #f6993f;
    border-radius: 50%;
    margin: 0.5em;
}

.square3 {
    grid-area: square3;
    background-color: #ffed4a;
    border-radius: 50%;
    margin: 0.5em;
}

.square4 {
    grid-area: square4;
    background-color: #38c172;
    border-radius: 50%;
    margin: 0.5em;
}

.menu {
    grid-area: menu;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 50%;
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0.5em;
}

button {
    border-radius: 8px;
    padding: 10px;
}

.square5 {
    grid-area: square5;
    background-color: #4dc0b5;
    border-radius: 50%;
    margin: 0.5em;
}

.square6 {
    grid-area: square6;
    background-color: #3490dc;
    border-radius: 50%;
    margin: 0.5em;
}

.square7 {
    grid-area: square7;
    background-color: #6574cd;
    border-radius: 50%;
    margin: 0.5em;
}

.square8 {
    grid-area: square8;
    background-color: #9561e2;
    border-radius: 50%;
    margin: 0.5em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


.titleHowToPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: inherit;
    padding: 3rem;
    border-radius: 50px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #E1D9D1;
    font-size: 1.3em;
}

h2{
    padding: 30px;
    font-size: 1.3em;
}

p{
    padding: 30px;
    font-size: larger;
}

sub{
    font-style: italic;
    padding: 30px;
}

.howToPlayBtn{
    cursor: pointer;
}

.glow{
    animation: glow 0.4s alternate;
}

@keyframes glow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: 0px 0px 50px 5px #0ff;
    }
}

@media only screen and (min-width:320px) and (max-width: 425px) {
    .titleHowToPlay{
        padding: 0;
        font-size: medium;
    }

    .container{
      height: 50vh;
      width: 50vh;
      margin-top: 50vw;
        
    }

    .menu{
        font-size: small;
        
    }

   
    button{
        padding: 0.3em;
    }

    .overlay{
        height: 100vh;
    }
}